:root {
  --thi-blue: #003f7d;
  --thi-gray: #d9d9d9;
}

/* Grundlayout */
.reveal {
  font-family: "Segoe UI", "Arial", "Helvetica", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: var(--thi-blue);
}

/* Folienfläche */
.reveal .slides {
  text-align: left;
}

/* Linien oben und unten */
.reveal .slides section {
  background-image:
    linear-gradient(#bdbdbd, #bdbdbd),
    linear-gradient(#bdbdbd, #bdbdbd);


  background-repeat: no-repeat;

  background-position:
    40px 62px,
    40px calc(100% - 32px);

  background-size:
    calc(100% - 80px) 6px,
    calc(100% - 80px) 2px;

}

/* Überschriften */
.reveal h1,
.reveal h2,
.reveal h3 {
  color: var(--thi-blue);

  font-size: 1em;
  font-weight: 400;
  line-height: 1.0;
  letter-spacing: 0.03em;

  margin-top: 18px;
  margin-left: 40px;
  margin-bottom: 0;
}

/* Logo oben rechts */
.reveal .slides section::after {
  content: "";
  position: fixed;

  top: 18px;
  right: 40px;

  width: 70px;
  height: 40px;

  background-image: url("thi-logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Inhaltsbereich */
/*.reveal .slides section > *:not(h1):not(h2) {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 90px;
}*/

/* Inhaltsbereich */
.reveal .slides section > p,
.reveal .slides section > div,
.reveal .slides section > table,
.reveal .slides section > pre {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 90px;
}

/* Listen */
.reveal ul,
.reveal ol {
  margin-top: 60px;
  margin-left: 110px;
  padding-left: 40px;
}

.reveal li {
  margin-left: 0;
  padding-left: 0;
}

.reveal li {
  color: var(--thi-blue);
  margin-bottom: 0.55em;
  line-height: 1.35;
}

.reveal p,
.reveal ul,
.reveal ol,
.reveal li {
  color: var(--thi-blue);
}

/* Code-Blöcke */
.reveal pre code {
  font-size: 0.8em;
  max-height: 520px;
}


/* Footer unten links */
.reveal .footer,
.reveal footer {
  position: fixed !important;

  left: 195px !important;
  bottom: 6px !important;

  width: auto !important;

  margin: 0 !important;
  padding: 0 !important;

  transform: none !important;

  text-align: left !important;

  font-size: 11px;
  font-weight: 400;

  color: var(--thi-blue);
}

/* Seitenzahl unten rechts */
.reveal .slide-number {
  position: fixed !important;

  right: 190px !important;
  bottom: 6px !important;

  font-size: 11px !important;
  font-weight: 400;


  color: var(--thi-blue) !important;

  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}


/* Footer auf Titelfolie ausblenden */
.reveal .slides section.title-slide .footer,
.reveal .slides section.title-slide footer {
  display: none !important;
}

/* Seitenzahl auf Titelfolie ausblenden */
.reveal .slides section.title-slide .slide-number {
  display: none !important;
}

/* Zentrierung deaktivieren */
.reveal .slides section {
  text-align: left;
}

/* Tabellen */
.reveal table {
  font-size: 0.8em;
}

/* Links */
.reveal a {
  color: var(--thi-blue);
  text-decoration: none;
}

.reveal img {
  max-width: 100%;
  max-height: 580px;

  object-fit: contain;

  border: none;
  box-shadow: none;
}